*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background:#081e18;
    color:#fff;
}
#header{
    width: 100%;
    height: 100vh;
    /* background-image: url(./Images/background.png); */
    /* background-image: url(./Images/p1.jpeg); */
    background-image: url(./Images/bgFinalFinal.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}


/* fff */
.text-img{
    display: flex;
    /* background: #ababab; */
    /* padding: 10px; */
    /* align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; */
}
/*  */
.header-text{
    margin-top: 10%;
    font-size: 30px;
}
.header-text h1{
    color: #CADB2B;
    font-size: 60px;
    margin-top: 20px;
}
.header-text h2{
    color: #CADB2B;
    font-size: 31.5px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #fff;
}


/* img slider ----------------------------------------------*/
.container1{
    margin-top: 5%;
    margin-left: 7%;
    border: #CADB2B;
    border-style: double;
    height: 35vmin;
    width: 55vmin;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}
#img1{
    /* display: none; */
    width: 100%;
    height: 100%;
    position: absolute;
}
#my-img{
    /* display: none; */
    width: 100%;
    height: 100%;
    position: absolute;
    clip-path: polygon(0 0 , 50% 0, 50% 100%, 0 100%);
}
#slider{
    /* display: none; */
    position: relative;
    -webkit-appearance: none;
    width: calc( 100% + 40px);
    height: 100%;
    margin-left: -20px;
    background-color: transparent;
    outline: none;
}
#slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    background: url("Images/double-arrow-svgrepo-com.svg"),
    /* color: #CADB2B; */
    /* background: url("slider-icon.svg"), */
    rgba(255, 255, 255, 0);
    border: 3px solid #ffffff;
    border-radius: 50%;
    background-size: contain;
    cursor: pointer;
}
/* img slider fininsh */
/* -------------------------------------------------------------about */
#about{
    padding: 80px 0;
    background-color: #CEA5AD;
    color: #CADB2B;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.about-col-2 p{
    font-size: 20px;
}
.sub-title{
    font-size: 60px;
    font-weight: 800;
    color: #CADB2B;
    line-height: 60px;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    color: #9B3850;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #9B3850;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #9B3850;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* ------------------------------------------------Services */
#services{
    padding: 50px 0;
    background-color: #70AABC;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius:10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div img{
    width: 60px;
    /* font-size: 50px; */
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div.c1:hover{
    background: #CADB2B;
    transform: translateY(-10px);
    /* transform: scale(110%); */
}
.services-list div.c2:hover{
    background: #44656f;
    transform: translateY(-10px);
    /* transform: scale(110%); */
}
.services-list div.c3:hover{
    background: #926EAE;
    transform: translateY(-10px);
    /* transform: scale(110%); */
}
/*  */
.services-list div .btn.btnG1{
    /* display: block; */
    margin: 15px auto;
    width: fit-content;
    border: 1px solid #8b9722;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 1s;
}
.services-list div .btn.btnG1:hover{
    background: #080808;
}
.services-list div .btn.btnG2{
    /* display: block; */
    margin: 15px auto;
    width: fit-content;
    border: 1px solid #70AABC;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 1s;
}
.services-list div .btn.btnG2:hover{
    background: #080808;
    border: 1px solid #080808;
}
.services-list div .btn.btnG3{
    /* display: block; */
    margin: 15px auto;
    width: fit-content;
    border: 1px solid #6e5085;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 1s;
}
.services-list div .btn.btnG3:hover{
    background: #080808;
}

/* portfolio/work--------------------------------------------------------- */
#portfolio{
    padding: 30px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block ;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    /* background: linear-gradient(rgba(0,0,0,0.6),#ff004f); */
    background: #CADB2B;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 1s;
}
.layer.layer2{
    background: #70AABC;
}
.layer.layer3{
    background: #926EAE;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    color: #080808;
}
.layer a{
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 10px;
    background: #080808;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #fff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 1s;
}
.btn:hover{
    background: linear-gradient(to right, #926EAE, #70AABC,#CADB2B,#CEA5AD);
    /* background: #CADB2B; */
}
/* contact-------------------- */
#contact{
    padding-top: 50px;
}
.contact-left{
    flex-basis: 35%;
}
.contact-left a{
    text-decoration: none;
    color: #67d667;
}
.contact-left .sub-title{
    color: #67d667;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #CADB2B;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #926EAE;
    transform: translateY(-5px);
}
a{
    color: rgb(110, 183, 255);
}
.btn.btn2{
    color: black;
    display: inline-block;

    background: #67d667;
    /* margin: 20px 0; */
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #ff004f;
}