
.bg-hero3,
.hg-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
}

.hg-icon2 {
  height: 1513px;
  object-fit: cover;
}
.bg-hero3 {
  background: linear-gradient(-29.76deg, rgba(11, 29, 38, 0), #044570);
  height: 1118px;
}
.logo-shape-child39,
.logo-shape-child40 {
  position: absolute;
  height: 53.33%;
  width: 100%;
  top: 46.67%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 12.01px 12.01px 0;
  background-color: #DEF299;
}
.logo-shape-child40 {
  height: 40%;
  width: 69.57%;
  top: 0;
  right: 30.43%;
  bottom: 60%;
}
.logo-shape21 {
  position: absolute;

  width: 1.5%;
  top: 1.1%;
  right: 95.95%;
  bottom: 98.07%;
  left: 2.55%;
}
.empowering-change-makers2 {
  position: absolute;
  top: 0;
  left: 104px;
  letter-spacing: 6px;
  text-transform: uppercase;
}
.group-child1 {
  position: absolute;
  top: 10px;
  left: 0;
  background-color:  #DEF299;
  width: 72px;
  height: 2px;
}
.empowering-change-makers-container {
  font-family: "Poppins", "san-serif";
  position: relative;
  width: 1000px;
  height: 22px;
  flex-shrink: 0;
  color: #DEF299;
}
.making-a-better4 {
  position: relative;
  font-size: var(--font-size-69xl);
  line-height: 100px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-weight: 500;
  display: inline-block;
  width: 1000px;
}

.equipment39 {
  font-family: "Poppins", "sans-serif";
  position: absolute;
  font-weight: 200;
  font-style: italic;
  top: -20px;
  left: 0;
}
.equipment-frame {
  position: relative;
  width: 897px;
  height: 60px;
  flex-shrink: 0;
  font-size: var(--font-size-5xl);
}
.content8 {
  position: absolute;
  top: 287px;
  left: 452px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.mg-icon2 {
  top: 464px;
  width: 1728px;
  height: 1422px;
  object-fit: cover;
  transition: transform 0.2s ease-out;
}
.mg-icon2:hover {
  transform: translate(5px, 5px); 
}

.bg-content2,
.mg-icon2,
.vg-icon2 {
  position: absolute;
  left: 0;
}
.vg-icon2 {
  top: 768px;
  width: 1728px;
  height: 926px;
  object-fit: cover;
  transition: transform 0.2s ease-out;
}
.vg-icon2:hover {
  transform: translate(-5px, 5px); 
}

.bg-content2 {
  top: 1200px;
  background: linear-gradient(180deg, rgba(11, 29, 38, 0), #0d1c18 72.28%);
  width: 1920px;
  height: 700px;
}
.follow-us2 {
  font-family: "Poppins", "sans-serif";
  position: absolute;
  top: -30px;
  left: 24px;
  width: 200px;
  letter-spacing: 10px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.instagram-icon3 {
  top: 180px;
  left: 0;
  height: 24px;
  overflow: hidden;
}
.instagram-icon3,
.social3,
.twitter-icon3 {
  position: absolute;
  width: 24px;
}
.twitter-icon3 {
  top: 230px;
  left: 0;
  height: 24px;
  overflow: hidden;
}
.social3 {
  top: 359px;
  left: 80px;
  height: 173px;
}
.at-betterworldnow-we1 {
  margin: 0;
}
.at-betterworldnow-we-container1 {
  font-family: "Poppins", sans-serif;
  font-weight: 150;
  position: absolute;
  top: 250px;
  line-height: 32px;
  display: inline-block;
  width: 782px;
  font-size: 20px;
  height: 227px;
}

.equipment40 {
  font-family: "Poppins", "sans-serif";
  position: absolute;
  top: 0px;
  left: 0;
  letter-spacing: 10px;
  display: inline-block;
  width:300px;
  height: 22.87px;
}
.iconnavigationarrow-downward3,
.more3 {
  position: absolute;
  top: 185px;
  left: 230px;
  width: 29.7px;
  height: 16.63px;
}
.more3 {
  top: 530px;
  left: 5px;
  width: 129.7px;
  height: 22.87px;
  cursor: pointer;
  font-size: var(--font-size-xl);
  color: #DEF299;
}
.content9 {
  position: absolute;
  top: 1231px;
  left: 133px;
  width: 1462px;
  height: 720px;
  font-size: var(--font-size-21xl);
}
.unite-for-change1 {
  position: absolute;
  top: 0;
  left: -380px;
  letter-spacing: 20px;
  text-transform: uppercase;
}
.line12 {
  position: absolute;
  top: 12px;
  left: -480px;
  background-color: #DEF299;
  width: 72px;
  height: 2px;
}
.tagline6 {
  position: absolute;
  top: 14px;
  left: 483px;
  width: 338px;
  height: 24px;
  font-size: var(--font-size-xl);
  color: #DEF299;
}
.community-of-changemakers1 {
  position: absolute;
  top: 70px;
  left: 00px;
  font-family: "Poppins", sans-serif;
  
  font-weight: 800;

  font-style: normal;
  text-align: left;
  display: inline-block;
  width: 2000px;
}
.community-is-essential1 {
  position: absolute;
  top: 380px;
   line-height: 32px;
  left: 750px;
  font-size: 20px;  
  font-weight: 150;
  display: inline-block;
  text-align: left;
  width: 742px;
  height: 20px;
  
}
.image-3-icon1 {
  position: absolute;
  top: 176px;
  left: 0;
  width: 600px;
  height: 543px;
  object-fit: cover;
}
.join-us-in2 {
  position: absolute;
  top: 320px;
  left: 750px;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  width: 600px;
  font-style: italic;
  height: 200px;
  font-size: 30px;
}
.content10 {
  position: absolute;
  top: 2075px;
  left: 133px; 
  width: 1462px;
  height: 720px;
  font-family: "Poppins", sans-serif;
  font-size: var(--font-size-45xl);
}
.betterworldnow18 {
  font-style: italic;
  font-weight: 150;
  font-family: "Poppins", sans-serif;
 
  top: 0;
  left: 0;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}
.logo15 {
  position: absolute;
  top: 11px;
  left: 38px;
  width: 215px;
  height: 34px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-port-lligat-sans);
}
.making-a-better5,
.more-on-the3 {
  position: absolute;
  left: 0;
  line-height: 32px;
  font
}
.making-a-better5 {
  
  font-family: "Poppins", sans-serif;
  top: 70px;
  display: inline-block;
  width: 303px;
}
.more-on-the3 {
  top: 0;
  font-size: var(--font-size-5xl);
  color: #DEF299;
  cursor: pointer;
}
.about-betterworldnow3 {
  top:76px;
}
.about-betterworldnow3,
.contributors-writers3,
.write-for-us3 {
  position: absolute;
  left: 0;
  line-height: 32px;
  font-weight: 500;
}
.contributors-writers3 {
  top: 104px;
}
.write-for-us3 {
  top: 132px;
}
.links9 {
  font-family: "Poppins", sans-serif;
  line-height: 0px;
  position: absolute;
  top: 4px;
  left: 826px;
  width: 165px;
  height: 184px;
}
.contact-us3,
.links10 {
  position: absolute;
  top: 0;
}
.contact-us3 {
  left: 0;
  font-size: var(--font-size-5xl);
  line-height: 32px;
  color: #DEF299;
}
.links10 {
  left: 1302px;
  width: 99px;
}
.links10,
.links11 {
  height: 184px;

  font-family: "Poppins", sans-serif;
}
.links11,
.logo-shape22 {
  position: absolute;
}
.links11 {
 
  left: 1067px;
  width: 159px;
}
.logo-shape22 {

  width: 1.85%;
  top: 6.86%;
  right: 98.15%;
  bottom: 76.17%;
  left: 0;
}
.footer3 {
  position: absolute;
  top: 4117px;
  left: 164px;
  width: 1401px;
  height: 188px;
  cursor: pointer;
}
.image-1-icon1 {
  position: absolute;
  top: 1331px;
  left: 980px;
  width: 600px;
  height: 600px;
  object-fit: cover;
}
.doing-well-by1 {
  position: absolute;
  top: 131px;
  left:92px;
  letter-spacing: 20px;
  text-transform: uppercase;
  display: inline-block;
  width: 2000px;
  height: 26px;
}
.line13 {
  position: absolute;
  top: 142.78px;
  left: 0;
  background-color: #DEF299;
  width: 72px;
  height: 2.36px;
}
.understand-your-map1,
.whether-youre-reducing1 {
  position: absolute;
  font-family: "Poppins", sans-serif;
  left: 0;
  font-weight: 150;
  display: inline-block;
  color: var(--wei);
  height: 10px;
}
.understand-your-map1 {
  top: 189px;
  font-size: var(--font-size-45xl);
  font-family: "Poppins", sans-serif;
  width: 687px;
  line-height: 70px;
  font-weight: 800;
}
.whether-youre-reducing1 {
  top: 440px;
  line-height: 32px;
  width: 742px;
  height: 227px;
}
.iconnavigationarrow-downward4 {
  position: absolute;
  top:7px;
  left: 220px;
  width: 29.7px;
  height: 16.63px;
}
.image-16-icon1,
.more4 {
  position: absolute;
}
.more4 {
  top: 697px;
  left: 0;
  width: 157.14px;
  height: 22.87px;
}
.image-16-icon1 {
  top: 190px;
  left: 900px;
  width: 600px;
  height: 508px;
  object-fit: cover;
}

.content10 {
  position: absolute;
  top: 2075px;
  left: 133px; 
  width: 1462px;
  height: 720px;
  font-family: "Poppins", sans-serif;
  font-size: var(--font-size-45xl);
}

.content11 {
  position: absolute;
  top: 2919px;
  left: 132px;
  width: 1462px;
  height: 720px;
  font-family: "Poppins", sans-serif;

  color: #DEF299;
}
.about-us13 {
  position: absolute;
  left:885px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  cursor: pointer;
}


.account12,
.equipment43 {
  position: absolute;
  cursor: pointer;
}
.equipment43 {
  left:870px;
  font-family: "Poppins", sans-serif;
  top: 0;
  left: 608px;
}
.account12 {
  font-family: "Poppins", sans-serif;
  top: 0px;
  left: 1514px;
  font-size: var(--font-size-mid);
  display: inline-block;
  width: 100px;
}
.icons-general-cart12 {
  position: absolute;
  top: 0;
  left: 1484px;
  width: 24px;
  height: 24px;
}
.betterworldnow19 {
  position: absolute;
  top: -6px;
  left: 0;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  display: inline-block;
  width: 456px;
}
.blog13,
.equipment44,
.logo16 {
  left:870px;
  font-family: "Poppins", sans-serif;
  position: absolute;
  cursor: pointer;
}
.logo16 {
  top: 0px;
  left: 20px;
  width: 300px;
  font-size: 20px;
  font-weight: 150;
  font-style: italic;
  height: 50px;


 
}
.blog13 {
  left: 990px;
}
.equipment44 {

  left: 738px;
}
.header11 {
  position: absolute;
  top: 64px;
  left: 80px;
  width: 1648px;
  height: 25px;
  overflow: hidden;
}
.about-us14 {
  position: absolute;
  top: 1350px;
  left:  133px;;
  font-size: var(--font-size-69xl);
  line-height: 100px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  text-transform: capitalize;

  display: inline-block;
  width: 950px;
}
.home-after-login {
  position: relative;
  background-color: #081e18;
  box-shadow: var(--shadow);
  width: 100%;
  zoom: 121%;
  height: 4595px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--wei);
  font-family: var(--font-advent-pro);
}


.slide-in {
  animation: slide-in 1s ease forwards;
}
@keyframes slide-in {
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}