.bg-hero,
.image-22-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
  height: 1117px;
}
.image-22-icon {
  object-fit: cover;
}
.bg-hero {
  background: linear-gradient(-29.76deg, rgba(11, 29, 38, 0), #02170d);
}
.leaderboard-child {
  position: absolute;
  top: 68px;
  left: 818px;
  border-radius: var(--br-8xl);
  width: 116px;
  height: 22px;
  scale: 135%;
}
.logo-shape-child13,
.logo-shape-child14 {
  position: absolute;
  height: 53.33%;
  width: 100%;
  top: 46.67%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 12.01px 12.01px 0;
  background-color: var(--green);

}
.logo-shape-child14 {
  height: 40%;
  width: 69.57%;
  top: 0;
  right: 30.43%;
  bottom: 60%;
}
.logo-shape8 {
  position: absolute;
  width: 1.5%;
  right: 95.95%;
  bottom: 91.51%;
  left: 2.55%;
}
.lb3-1-icon {
  position: absolute;
  top: 254px;
  left: 284px;
  width: 1160px;
  height: 632px;
  object-fit: cover;
}
.check-your-ranking,
.leader-board {
  position: absolute;
  display: inline-block;
}
.leader-board {
  top: 154px;
  left: 389px;
  line-height: 100px;
  text-transform: capitalize;
  font-family: "Poppins", "sans-serif";
  text-align: center;
  width: 950px;
}
.check-your-ranking {
  top: 0;
  left: 40px;
  letter-spacing: 6px;
  text-transform: uppercase;
  width: 400px;
  height: 26px;
}
.line7 {
  position: absolute;
  top: 11.78px;
  left: -45px;
  background-color:  #DEF299;
  width: 67.06px;
  height: 2.36px;
}
.tagline2 {
  position: absolute;
  top: 142px;
  left: 677px;
  width: 373px;
  height: 26px;
  font-size: var(--font-size-xl);
  color:  #DEF299;
}
.about-us5,
.equipment15 {
  position: absolute;
  top: 2px;
}
.about-us5 {
  left: 868px;
  cursor: pointer;
}
.equipment15 {
  left: 738px;
}
.account5,
.equipment16 {
  position: absolute;
  cursor: pointer;
}
.equipment16 {
  top: 0;
  left: 608px;
}
.account5 {
  top: 2px;
  left: 1514px;
  font-size: var(--font-size-mid);
  display: inline-block;
  width: 178px;
}
.icons-general-cart5 {
  position: absolute;
  top: 0;
  left: 1484px;
  width: 24px;
  height: 24px;
}
.betterworldnow6 {
  position: absolute;
  top: -6px;
  left: 20px;
  font-style: italic;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  display: inline-block;
  width: 456px;
  font-size: 20px;
}
.logo5 {
  top: 0;
  left: 0;
  width: 227px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
  font-size: var(--font-size-13xl);
  font-family: "Poppins", "sans-serif";
}
.blog5,
.header5,
.logo5 {
  position: absolute;
}
.blog5 {
  top: 2px;
  left: 983px;
  cursor: pointer;
}
.header5 {
  top: 64px;
  left: 80px;
  width: 1648px;
  height: 25px;
  overflow: hidden;
  font-size: var(--font-size-lg);
}
.leaderboard {
  position: relative;
  background-color: var(--wei);
  width: 100%;
  font-weight: 100;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: 70px;
  color: var(--wei);
  font-family: "Poppins", "sans-serif";
  zoom: 121%;
}
